<% if user_signed_in? %>
  <h1>Welcome :  <%= current_user.email %></h1>
    <%= link_to "Books", books_path %><br>
     <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>
  <h1>Home</h1>
     <%= link_to "Books", books_path %><br>
<% end %>
